{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}

{% block body %}
    {% include 'default/navbar.html.twig' %}
    <div class="jumbotron" style="background: linear-gradient(to left, #3F1CCB, #4872AE 50%, #BF5858 75%);color:white;">
        <h1 class="display-4">Welcome !</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
    <div class="container">
        <h4>Les 6 restaurants les mieux notés de LA </h4>
        <div class="row">
            {% for restaurant in restaurants %}
                <ul class="grid cs-style-1">
                    <li>
                        <figure>
                            <img src="/build/img/1.png" alt="" style="border-radius:2%;">
                            <figcaption style="z-index:2">
                                <h3 class="truncate">{{ restaurant.facilityName }}, {{ restaurant.facilityCity }}</h3>
                                <span>{{ restaurant.score }}, {{ restaurant.grade }}</span>
                                <span>{{ restaurant.peDescription }}</span>
                                <a href="{{ path('single_restaurant', { 'id': restaurant.id }) }}">Voir plus</a>
                            </figcaption>
                        </figure>
                        <div class="figui">
                            <span>{{ restaurant.facilityName }}, {{ restaurant.facilityCity }}</span>
                        </div>
                    </li>
                </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}