{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}

{% block body %}
    {% include 'default/navbar.html.twig' %}
    <div class="jumbotron" style="background: linear-gradient(to left, #3F1CCB, #4872AE 50%, #BF5858 75%);color:white;">
        <h1 class="display-4">Bienvenue sur Restau Like !</h1>
        <p class="lead">Les meilleurs restaurants et leurs adresses sont disponibles ici !</p>
        <hr class="my-4">
        <p>Allez voir les dernières infos en scrollant vers le bas !</p>
    </div>
    <div class="container">
        <h4>Les 6 restaurants les mieux notés de LA </h4>
        <div class="row">
            {% for restaurant in restaurants %}
                <ul class="grid cs-style-1">
                    <li>
                        <figure>
                            <img src="/build/img/{{ random(17) }}.jpg" alt="Image Restau" style="border-radius:2%;width:300px;height:200px">
                            <figcaption style="z-index:2">
                                <h3 class="truncate">{{ restaurant.facilityName }}, {{ restaurant.facilityCity }}</h3>
                                <span>{{ restaurant.score }}, {{ restaurant.grade }}</span>
                                <span>{{ restaurant.peDescription }}</span>
                                <a href="{{ path('single_restaurant', { 'id': restaurant.id }) }}">Voir plus</a>
                            </figcaption>
                        </figure>
                        <div class="figui">
                            <span>{{ restaurant.facilityName }}, {{ restaurant.facilityCity }}</span>
                        </div>
                    </li>
                </ul>
            {% endfor %}
        </div>
        <h4>Les 6 restaurants les moins populaires de LA </h4>
        <div class="row">
            {% for restaurant in lowerRestaurants %}
                <ul class="grid cs-style-1">
                    <li>
                        <figure>
                            <img src="/build/img/{{ random(17) }}.jpg" alt="Image Restau" style="border-radius:2%;width:300px;height:200px">
                            <figcaption style="z-index:2">
                                <h3 class="truncate">{{ restaurant.facilityName }}, {{ restaurant.facilityCity }}</h3>
                                <span>{{ restaurant.score }}, {{ restaurant.grade }}</span>
                                <span>{{ restaurant.peDescription }}</span>
                                <a href="{{ path('single_restaurant', { 'id': restaurant.id }) }}">Voir plus</a>
                            </figcaption>
                        </figure>
                        <div class="figui">
                            <span>{{ restaurant.facilityName }}, {{ restaurant.facilityCity }}</span>
                        </div>
                    </li>
                </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}