{% extends 'base.html.twig' %}
{% block title %}Statistiques{% endblock %}

{% block body %}
    {% include 'default/navbar.html.twig' %}
    <div class="container">
        <h4 style="padding-top:20px;">Statistiques des différents restaurants</h4>
        <div class="col-md-6" id="scoreStats">
            <div id="chart_div" style="width: 900px; height: 500px;"
                 data-100="{{ countScore["count 100"] }}"
                 data-99="{{ countScore["count 99"] }}"
                 data-98="{{ countScore["count 98"] }}"
                 data-97="{{ countScore["count 97"] }}"
                 data-96="{{ countScore["count 96"] }}"
                 data-95="{{ countScore["count 95"] }}"
                 data-94="{{ countScore["count 94"] }}"
                 data-89="{{ countScore["count 89"] }}"
                 data-88="{{ countScore["count 88"] }}"
                 data-87="{{ countScore["count 87"] }}"
                 data-86="{{ countScore["count 86"] }}"
                 data-85="{{ countScore["count 85"] }}"
                 data-84="{{ countScore["count 84"] }}"
                 data-83="{{ countScore["count 83"] }}"
                 data-82="{{ countScore["count 82"] }}"
                 data-80="{{ countScore["count 80"] }}"
                 data-78="{{ countScore["count 78"] }}"
                 data-77="{{ countScore["count 77"] }}"
                 data-76="{{ countScore["count 76"] }}"
                 data-74="{{ countScore["count 74"] }}"
                 data-73="{{ countScore["count 73"] }}"
                 data-71="{{ countScore["count 71"] }}"
                 data-68="{{ countScore["count 68"] }}"
                 data-67="{{ countScore["count 67"] }}"
                 data-65="{{ countScore["count 65"] }}"
                 data-64="{{ countScore["count 64"] }}"
            ></div>
        </div>
        <div id="gradeStats" class="col-md-6" data-grade-A="{{ countGrade["count A"] }}" data-grade-B="{{ countGrade["count B"] }}" data-grade-C="{{ countGrade["count C"] }}">
            <div id="piechart" style="width: 900px; height: 500px;"></div>
        </div>
    </div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        google.charts.setOnLoadCallback(drawChart2);

        //Pie chart
        function drawChart() {
            var gradeStats = $('#gradeStats');
            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Grade A',     gradeStats.data("grade-a")],
                ['Grade B',      gradeStats.data("grade-b")],
                ['Grade C',  gradeStats.data("grade-c")]
            ]);
            var options = {
                title: 'Le nombre de restaurants par grade'
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }

        //Histo Chart
        function drawChart2() {

            var scoreDiv = $('#chart_div');

            var data2 = google.visualization.arrayToDataTable([
                ['X', 'Nombre de restaurants avec cette note'],
                ['100', scoreDiv.data("100")],
                ['98', scoreDiv.data("98")],
                ['96', scoreDiv.data("96")],
                ['95', scoreDiv.data("95")],
                ['94', scoreDiv.data("94")],
                ['89', scoreDiv.data("89")],
                ['88', scoreDiv.data("88")],
                ['87', scoreDiv.data("87")],
                ['84', scoreDiv.data("84")],
                ['82', scoreDiv.data("82")],
                ['77', scoreDiv.data("77")],
                ['76', scoreDiv.data("76")],
                ['68', scoreDiv.data("68")],
                ['65', scoreDiv.data("65")],
                ['64', scoreDiv.data("64")],
            ]);
            var options2 = {
                title: 'Scores des meilleurs restaurants de Los Angeles',
            };
            var chart2 = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart2.draw(data2, options2);
        }
    </script>

{% endblock %}

